# File Types
*.dll
*.dat
*.exe
*.log
*.zip
*.ess
*.cnt
*.hlp
*.esp
*.esm
*.bsa
*.lua
*.nif*
*.kf
*.dds
*.txt
*.tga
*.jpg
*.png
*.wav
*.ogg
*.mp3
*.psd
*.pk
*.BMP
*.yaml
*.fx
*.toml
*.ovr
*.fnt
*.bik
*.omwscripts
*.tex
*.ods
*.omwfx
*.reapeaks
*.pdn
**/desktop.ini
*.dxvk-cache


# Files and Folders
/dlls/*
/explorer++/*
/licenses/*
/logs/*
/plugins/*
/crashDumps/*
/loot/*
/NCC/*
/overwrite/*
/platforms/*
/pythoncore/*
/QtQml/*
/QtQuick.2/*
/resources/*
/styles/*
/stylesheets/*
/translations/*
/tutorials/*
/webcache/*
/downloads/*
/Stock Game Folder/.tools
/Stock Game Folder/Data Files
/Stock Game Folder/mcpatch/*/
/Stock Game Folder/tes3cmd
/Stock Game Folder/mge3
/Stock Game Folder/screenshots
Stock Game Folder/Journal.htm
Stock Game Folder/morrowind.ini.old
Stock Game Folder/Warnings.txt
Stock Game Folder/MWSE-Update.exe.tmp
Stock Game Folder/CSSE_MiniDump.dmp
Stock Game Folder/ChargenScenarioClutter.txt
Stock Game Folder/chargenScenariosLocations.txt
Stock Game Folder/ProgramFlow.txt
Stock Game Folder/Newtonsoft.Json.dll.tmp
Stock Game Folder/Knife.ico
Stock Game Folder/csse.toml
Stock Game Folder/Newtonsoft.Json.xml
Stock Game Folder/mcpatch/logo_large.png
Stock Game Folder/mcpatch/message.json
Stock Game Folder/mcpatch/describe.json
Stock Game Folder/mcpatch/default
/mods/Immersive Travel - MWSE/MWSE/mods/rfuzzo/ImmersiveTravel
mods/Ashfall - A Camping Survival and Needs Mod/MWSE/mods/mer/ashfall/metadata.json
/mods/MUSE 2 - Morrowind Music System Extended/MWSE/config
/mods/MUSE Music Expansion - Ashlander/MWSE/config
/mods/MUSE Music Expansion - Daedric/MWSE/config
/mods/MUSE Music Expansion - Dwemer/MWSE/config/MS
/mods/MUSE Music Expansion - Empire/MWSE/config
/mods/MUSE Music Expansion - Hlaalu/MWSE/config
/mods/MUSE Music Expansion - Sixth House/MWSE/config
/mods/MUSE Music Expansion - Redoran/MWSE/config
/mods/MUSE Music Expansion - Telvanni/MWSE/config
/mods/MUSE Music Expansion - Tomb/MWSE/config
mods/MWSE Dynamic Object Replacer/MWSE/
/mods/Better Music System Redone (for Vanilla and MUSE)/MWSE/config
mods/Ctroost's Weather Adjuster Presets/MWSE/config/Weather Adjuster.json
mods/Outlander Additional Files/distantland/statics/usage.data
mods/Ultimate Fishing/MWSE/config/UltimateFishing_regions.json
mods/Watch the Skies/MWSE/config/Weather Adjuster.json
mods/Magicka Based Skill Progression -- MWSE-Lua Edition/MWSE/.luacheckrc
mods/Magicka Based Skill Progression -- MWSE-Lua Edition/MWSE/.luacompleterc
/mods/ReadMes and Docs
/mods/Tamriel Rebuilt - Original Soundtrack/MWSE/config
dump_running_process.bat
nxmhandler.ini
splash.png
ModOrganizer.ini

# Allow
!mods/Outlander Additional Files/*
!downloads/*.meta
!Stock Game Folder/mcpatch/installed
!Outlander Keybinds.png
!Stock Game Folder/OutlanderBanner.png
!Stock Game Folder/OutlanderPreviewBanner.png
!keybinds.html
!mods\Outlander Overhaul

# New
/mods/Fantasia Grass Mod/modmaker_tools
/mods/Inspect It/MWSE
/mods/mapMarkerLib/MWSE
mods/Morrowind Containers Animated/uninstall MW Containers Animated.bat
mods/Uvirith's Legacy - 3.5/Meshes/shan/shan_skel_Hand02.1st
Stock Game Folder/Morrowind.pdb
/mods/Outlander Additional Files/distantland
/mods/Distant Land
mods/Customizable MWSE Multi Mark and Harder Recall/Customizable MWSE Multi Mark and Harder Recall - README.md
mods/Building up Uvirith's Legacy/Docs/Building Up Uvirith's Grave 1.1 Readme.html
