# Filetypes
*.dll
*.dat
*.exe
*.log
*.zip
*.ess
*.cnt
*.hlp
*.esp
*.esm
*.bsa
*.lua
*.nif*
*.kf
*.dds
*.txt
*.tga
*.jpg
*.png
*.wav
*.ogg
*.mp3
*psd


# Folders
/dlls/*
/explorer++/*
/licenses/*
/logs/*
/plugins/*
/crashDumps/*
/loot/*
/NCC/*
/overwrite/*
/platforms/*
/pythoncore/*
/QtQml/*
/QtQuick.2/*
/resources/*
/styles/*
/stylesheets/*
/translations/*
/tutorials/*
/webcache/*
/downloads/*
/Stock Game Folder/.tools
/Stock Game Folder/Data Files
/Stock Game Folder/mcpatch/*/
/Stock Game Folder/tes3cmd
/Stock Game Folder/mge3
/Stock Game Folder/screenshots

# Specific
Stock Game Folder/Journal.htm
Stock Game Folder/morrowind.ini.old
Stock Game Folder/Warnings.txt
Stock Game Folder/MWSE-Update.exe.tmp
Stock Game Folder/CSSE_MiniDump.dmp
Stock Game Folder/ChargenScenarioClutter.txt
Stock Game Folder/chargenScenariosLocations.txt
Stock Game Folder/ProgramFlow.txt
Stock Game Folder/Newtonsoft.Json.dll.tmp
Stock Game Folder/Knife.ico
Stock Game Folder/csse.toml
Stock Game Folder/Newtonsoft.Json.xml
Stock Game Folder/mcpatch/logo_large.png
Stock Game Folder/mcpatch/message.json
Stock Game Folder/mcpatch/describe.json
Stock Game Folder/mcpatch/default
dump_running_process.bat
nxmhandler.ini
splash.png

# Allow
!mods/Outlander Additional Files/*
!downloads/*.meta
!downloads/*.metadata
!Stock Game Folder/mcpatch/installed

# New
*.pk
*.BMP
*.yaml
mods/Ashfall - A Camping Survival and Needs Mod/MWSE/mods/mer/ashfall/metadata.json
*.fx
*.toml
*.ovr
*.fnt
/mods/Immersive Travel - MWSE/MWSE/mods/rfuzzo/ImmersiveTravel
*.bik
/mods/MUSE 2 - Morrowind Music System Extended/MWSE/config
/mods/MUSE Music Expansion - Ashlander/MWSE/config
/mods/MUSE Music Expansion - Daedric/MWSE/config
/mods/MUSE Music Expansion - Dwemer/MWSE/config/MS
/mods/MUSE Music Expansion - Empire/MWSE/config
/mods/MUSE Music Expansion - Hlaalu/MWSE/config
/mods/MUSE Music Expansion - Sixth House/MWSE/config
/mods/MUSE Music Expansion - Redoran/MWSE/config
/mods/MUSE Music Expansion - Telvanni/MWSE/config
/mods/MUSE Music Expansion - Tomb/MWSE/config
mods/MWSE Dynamic Object Replacer/MWSE/
*.omwscripts
*.tex
/mods/Better Music System Redone (for Vanilla and MUSE)/MWSE/config
mods/Ctroost's Weather Adjuster Presets/MWSE/config/Weather Adjuster.json
mods/Outlander Additional Files/distantland/statics/usage.data
*.ods
/mods/ReadMes and Docs
*.omwfx
*.reapeaks
/mods/Tamriel Rebuilt - Original Soundtrack/MWSE/config
*.pdn
**/desktop.ini
*.dxvk-cache
mods/Ultimate Fishing/MWSE/config/UltimateFishing_regions.json
mods/Watch the Skies/MWSE/config/Weather Adjuster.json
